extends layout

block content
  a(href='https://github.com/hosniah/blockchain-demo')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='source code on GitHub')
  .container
    center
      img(src='/images/ihec.jpg', alt='IHEC')
    h1(style="text-align:center;") Blockchain Demo for IHEC students         
    p.embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    br
    p.pull-right forked from 
      a(href='http://andersbrownworth.com/') Anders Brownworth repository
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
